# Cache
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
.env

# IDE
.idea

# Build
*.egg-info
dist

# Workbench
scratchwork

# tmp go code generation files
tmp_*.go

# Other temporary files
*.tmp
